<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface</title>
	<%= stylesheet_link_tag "helpstyle" %>
</head>

<body>
	<h1>Index</h1>
	<nav id="index">
		<ul id="index-list">
			<li class="index-level1"><a href="#configuration-page-title">1. Configuration page</a></li>
				<li class="index-level2"><a href="#main-options-title">1.1. Main Options</a></li>
				<li class="index-level2"><a href="#response-devices-title">1.2. Response devices</a></li>
			<li class="index-level1"><a href="#body-page-title">2. Body page</a></li>
				<li class="index-level2"><a href="#item-pannel-title">2.1. Item pannel</a></li>
				<li class="index-level2"><a href="#loop-pannel-title">2.2. Loop pannel</a></li>
				<li class="index-level2"><a href="#add-stimulus-pannel-title">2.3. "Add stimulus" pannel</a></li>
				<li class="index-level2"><a href="#stimulus-pannel-title">2.4. Stimulus pannel</a></li>
				<li class="index-level2"><a href="#control-pannel-title">2.5. Control pannel</a></li>
				<li class="index-level2"><a href="#timeline-title">2.6. Timeline</a></li>
		</ul>
	</nav>
	<section id="content">
		<section>
			<h1 id="configuration-page-title">1. Configuration page</h1>
			<section>
				<h2 id="main-options-title">1.1 Main Options</h2>
				<p>Here are included the most basic configuration options of the file. Those options are explaind below.</p>
				<ul>
					<li><strong>File name:</strong> Is the name that the file will have</li>
					<li><strong>Output to ascii:</strong> explain</li>
					<li><strong>Continuous running:</strong> explain</li>
					<li><strong>Standard frame duration:</strong> explain</li>
					<li><strong>Delay:</strong> explain</li>
					<li><strong>Time out:</strong> explain</li>
					<li><strong>Video mode:</strong> explain</li>
					<li><strong>No feed back:</strong> explain</li>
					<li><strong>Default background color:</strong> explain</li>
					<li><strong>Default writing color:</strong> explain</li>
					<li><strong>Default font size:</strong> explain</li>
					<li><strong>Record clock on time keyword:</strong> explain</li>
				</ul>
			</section>
			<section>
				<h2 id="response-devices-title">1.2. Response devices</h2>
				<p>Explain</p>
				<ul>
					<li><strong>PIO12:</strong> Explain</li>
					<li><strong>Keyboard:</strong> Explain</li>
					<li><strong>Mouse:</strong> Explain</li>
					<li><strong>DigitalVOX:</strong> Explain</li>
					<li><strong>Record vocal:</strong> Explain</li>
				</ul>
			</section>
			
		</section>
		
		<section>
			<h1 id="body-page-title">2. Body page</h1>
			<section>
				<h2 id="item-pannel-title">2.1. Item pannel</h2>
				<p>Explain</p>
				<ul>
					<li><strong>ID:</strong> Explain</li>
					<li><strong>Expected response:</strong> Explain</li>
					<li><strong>No randomise:</strong> Explain</li>
					<li><strong>Start timer in stimulus:</strong> Explain</li>
					<li><strong>Save:</strong> Explain</li>
					<li><strong>Duplicate:</strong> Explain</li>
					<li><strong>Delete:</strong> Explain</li>
					<li><strong>Stimulus list:</strong> Explain</li>
					<li><strong>Message (on message items only):</strong> Explain</li>
				</ul>
			</section>
			<section>
				<h2 id="loop-pannel-title">2.2. Loop pannel</h2>
				<p>Explain</p>
				<ul>
					<li><Strong>Number of items:</Strong> Explain</li>
					<li><Strong>Number of iterations:</Strong> Explain</li>
					<li><Strong>Possition of the first item:</Strong> Explain</li>
				</ul>
			</section>
			<section>
				<h2 id="add-stimulus-pannel-title">2.3. "Add stimulus" pannel</h2>
				<p>Explain</p>
			</section>
			<section>
				<h2 id="stimulus-pannel-title">2.4. Stimulus pannel</h2>
				<p>Explain</p>
				<h3>2.4.1. General options</h3>
				<p>Explain</p>
				<ul>
					<li><strong>Text: </strong>Explain</li>
					<li><strong>Type: </strong>Explain</li>
					<li><strong>Duration: </strong>Explain</li>
					<li><strong>Screen line: </strong>Explain</li>
					<li><strong>Clear screen: </strong>Explain</li>
					<li><strong>Not erase the previous screen: </strong>Explain</li>
					<li><strong>Is blank interval: </strong>Explain</li>
					<li><strong>Synchronise with text: </strong>Explain</li>
				</ul>
				<h3>2.4.1. Specific options (for images)</h3>
				<p>Explain</p>
				<ul>
					<li><strong>Top/Left position:</strong> Explain</li>
				</ul>
				<h3>2.4.1. Specific options (for audio)</h3>
				<p>Explain</p>
				<ul>
					<li><strong>Audio channel:</strong> Explain</li>
				</ul>
			</section>
			<section>
				<h2 id="control-pannel-title">2.5. Control pannel</h2>
				<p>Explain</p>
				<ul>
					<li><strong>New Item:</strong>Explain</li>
					<li><strong>New Message Item:</strong>Explain</li>
					<li><strong>New Loop:</strong>Explain</li>
					<li><strong>Preview:</strong>Explain</li>
					<li><strong>Back to settings:</strong>Explain</li>
					<li><strong>Save the document:</strong>Explain</li>
					<li><strong>Download the document:</strong>Explain</li>
				</ul>
			</section>
			<section>
				<h2 id="timeline-title">2.6. Timeline</h2>
				<p>Explain</p>
				<ul>
					<li><strong>Item:</strong> Explain</li>
					<li><strong>Message Item:</strong> Explain</li>
					<li><strong>Loop:</strong> Explain</li>
				</ul>
			</section>
		</section>
	</section>
</body>
</html>