<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface</title>
	<%= stylesheet_link_tag "comonstyle" %>
	<%= stylesheet_link_tag "homestyle" %>
		<script>
		function loadFromId(){
			var id=document.getElementById("configuration_file_id").value;
			window.location.href='/body/index?id='+id;
		}
	</script>
</head>
<body>
	<div id="home" style="display: block;">
		<div class="top">
			
			<a href="/"><%= image_tag("icons/docs.png", :class => "control-panel-icon", :width=>"90") %></a>
			
		</div>
		<h1>DMDX Interface</h1>
		<h2>Create your DMDX configuration files easily.</h2>
		<div id="buttons-pannel"><p>Create a <button type="button" name="" value="" class="css3button" onclick="window.location.href='/header/index'">New Proyect</button></p>
		<p>or</p>
		<p>Insert the id: <input id="configuration_file_id" type="text" name="quantity" value=""> and <button type="button" name="" value="" class="css3button" onclick="loadFromId();">Load a proyect</button></p></div>
		<div id="nav">
			<ul>
				<li>
					<h3>DMDX</h3>
					<p>The official <a href="http://www.u.arizona.edu/~kforster/dmdx/dmdx.htm" target="_blank">DMDX</a> web site.</p>
				</li>
				<li>
					<h3>Help</h3>
					<p>If you need any help to use our system you can <a href="/home/help">start here</a>.</p>
				</li>
				<li>
					<h3>Deusto</h3>
					<p>The web site of the <a href="http://www.deusto.es/" target="_blank">Deusto University</a></p>
				</li>
				<li class="last">
					<h3>References</h3>
					<p>In this <a href="/home/references_page">page</a> you can see the references to the external sources used in the proyect.</p>
				</li>
			</ul>
		</div>
		<div class="footer" id="topfooter">
			<small>Made by Julen Telleria</small>
		</div>
	</div>
</body>
</html>
