<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface References page</title>
	<%= stylesheet_link_tag "comonstyle" %>
	<%= stylesheet_link_tag "referencesstyle" %>
</head>

<body>
	<div id="home" style="display: block;">
		<div class="top top-right">
			<%= image_tag("icons/link.png", :class => "control-panel-icon", :width=>"40") %>
		</div>
		<div class="top-left">
		<h3>DMDX Interface</h3>
		</div>
		<div class="clear"></div>
		<h2>References page</h2>
	</div>
	<div id="content">
		<div class="global-options">
		<div class="wrap">
			<div class="grop-of-options">
				<h3>Introduction</h3>
				<div id="global-options-section" class="awards">
					<p>In this page, the external resources used in this proyect are shown.</p>
				</div>
			</div>
			<div class="clear"></div>
			
			<div class="grop-of-options">
				<h3 id="configuration-page-title">Icons</h3>
				<div id="global-options-section" class="awards">
					<p>The most of the icons of this proyect have been obtained from <a href="http://thenounproject.com/">The Noun Project</a></p>
					<ul>
						<li><a href="http://thenounproject.com/noun/plus/#icon-No950" target="_blank">Plus</a> designed by <a href="http://thenounproject.com/katosourai" target="_blank">Andre</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/save/#icon-No9016" target="_blank">Save</a> designed by <a href="http://thenounproject.com/crisdobbins" target="_blank">Cris Dobbins</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/settings/#icon-No11801" target="_blank">Settings</a> designed by <a href="http://thenounproject.com/Michzen" target="_blank">Michael Zenaty</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/speech-bubble/#icon-No5914" target="_blank">Speech Bubble</a> designed by <a href="http://thenounproject.com/Nozzman" target="_blank">Bram van Rijen</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/download/#icon-No435" target="_blank">Download</a>  from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/clock/#icon-No1164" target="_blank">Clock</a> designed by <a href="http://thenounproject.com/BWH" target="_blank">Brandon Hopkins</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/question/#icon-No15356" target="_blank">Question</a> designed by <a href="http://thenounproject.com/SuperAtic" target="_blank">SuperAtic LABS</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/loop/#icon-No2843" target="_blank">Loop</a> designed by <a href="http://thenounproject.com/somerandomdude" target="_blank">P.J. Onori</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/copy/#icon-No3000" target="_blank">Copy</a> designed by <a href="http://thenounproject.com/amarchadgar" target="_blank">Amar Chadgar</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/cross/#icon-No15471" target="_blank">Cross</a> designed by <a href="http://thenounproject.com/hspencer" target="_blank">Herbert Spencer</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/document/#icon-No4769" target="_blank">Document</a> designed by <a href="http://thenounproject.com/mariavaragilal" target="_blank">Maria Varagilal</a> from The Noun Project</li>
						<li><a href="http://thenounproject.com/noun/link/#icon-No2339" target="_blank">Link</a> designed by <a href="http://thenounproject.com/einfachein" target="_blank">David Waschbüsch</a> from The Noun Project</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
			
			<div class="grop-of-options">
				<h3 id="body-page-title">Timeline</h3>
				<div id="global-options-section" class="awards">
					<p>For the timeline, the library <a href="http://almende.github.io/chap-links-library/">CHAP Links Library</a> has been used.</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		</div>
	</div>
</body>
</html>
