<h1>Header creation page</h1>
<h2>Here you can select the main options of the project</h2>

<form name="header_form" action="#" method="POST">
<p>File name <input type="text" id="file_name" size="25" value="File001"></p>
<INPUT type="submit" value="Send"> <INPUT type="reset" value="Reset">
</form>
<p><a href="file_creation">Create File</a></p>
