/* MAIN ––––––––––––––––––––– */
body {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#222;
	font-size:16px;
	margin:0;
}
#home {
	display:none;
	max-width:1000px;
	min-width:800px;
	margin:15px auto;
	padding:0 20px;
}
p {line-height:24px;}
p a, small a, span.show {text-decoration:none; border-bottom:1px solid #76a7f7;}
p a:hover, small a:hover, span.show:hover {border-bottom:1px solid #1b6cf2; cursor:pointer}
a, span.show {color:#1b6cf2;}
.clear {clear:both;}

/* HEADERS ––––––––––––––––––––– */
h1 {
	position:relative;
	font-family:BrandonGrotesque-Bold, Futura, Verdana, serif;
	font-size:76px;
	text-transform:uppercase;
	text-align:center;
	height:80px;
	padding-top:30px;
}
h2 {
	position:relative;
	top:0px;
	font-size:22px;
	text-align:center;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding:22px 0;
}
h3 {
	font-family:BrandonGrotesque-Bold, Futura, Verdana, serif;
	font-size:20px;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
h4 {
	font-family:BrandonGrotesque-Bold, Futura, Verdana, serif;
	font-size:16px;
	text-transform:uppercase;
	margin:0;
	padding:0;
	line-height:22px;
}
h5 {
	font-family:BrandonGrotesque-Bold, Futura, Verdana, serif;
	font-size:48px;
	text-transform:uppercase;
	margin:0;
	margin-bottom:-8px;
	padding:0;
}
h6 {
	font-family:BrandonGrotesque-Light, Futura, Verdana, serif;
	font-size:26px;
	text-transform:uppercase;
	margin:0;
	padding:0;
	color:#999;
}
h2, h3, h4, h5, h6 {font-weight:normal;}

/* TOP ––––––––––––––––––––– */
.top-left{
	margin-top:8px;
	float:left;
}
.top-right{
	float:right
}
.top span {
	font-family:BrandonGrotesque-Regular, Futura, Verdana, serif;
	font-size:16px;
	color:#BBB;
	margin-top:12px;
}
.top span.left {width:76px; float:left;}
.top span.right {width:70px; float:right;}


/* CONTENT ––––––––––––––––––––– */

#content {
	background-color:#eee;
	display:block;
	max-width:1020px;
	min-width:820px;
	margin:15px auto;
	padding:10px 0px;
	-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
}
.wrap {
	max-width:900px;
	min-width:700px;
	margin:0 auto;
	padding:0px 20px 20px 20px;
}
.awards {
	float:right;
	width:99%;
	background-color:#fff;
	-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
	padding:10px 0px;
	margin-top:7px;
	height:100%
}
.awards p {
	margin:2px 0 0 0;
	padding: 0 20px;
}

/*My styles*/
.grop-of-options{
	margin-top:50px;
}
h3 a{
	margin-left:5px;
	font-weight:normal;
	font-size:15px;
	text-transform:none;
}
.form-inputs{
	float:right;
}
.grey{
	background-color:#F6F6F6;
	/*-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px*/
}
.control-panel-icon{
	max-width:25px;
	/*margin-right:10px;*/
	padding-top:7px;
	margin: 0px 15px;
}
.icon-buttons:hover{
	cursor: pointer;
}
#item-option-icons{
	float:right;
}
.item-icons{
	margin:0px 5px;
	max-width:20px;
}
.item-icons:hover{
	cursor: pointer;
}
#final-buttons-pannel{
	margin-top:15px;
}
/* TimeLine styles */
div.loopBox {
	background-color:rgba(0,255,0,0.1);
	border-color: green;
	height: 40px;
	overflow: hidden;
}
#mytimeline{
	padding:0 5px 0 0;
	width:100%;
	height:300px;
}
.timeline-axis-text-major{
 /*change this field by the duration unit ?????*/
	visibility:hidden;
}
div.timeline-frame{
	border:none;
}
/*item pannel*/
#item-left{
	float:left;
	width:450px;
}
#item-right{
	float:right;
	border-left:2px solid #eee;
	width:438px;
	height:110px;
}
#stimulus-order-list{
	max-height:68%;
	overflow-y:auto;
	overflow-y:visible;
	margin:10px 10px 0 30px;
	padding:0px 0px 0px 20px;
}
#add-stimulus-icon{
	max-width:20px;
}
#add-stimulus-icon{
	cursor:pointer;
}
.small-icon{
	padding:0 0 0 0;
	margin: 0 0 0 0;
	width:15px;
	position:relative;
    left:-40px;
    top:2px;
}
#selected-stimulus-line{
	position:relative;
    left:-15.5px;
}
.stimulus-order-list-over{
	cursor:pointer;
    background-color:#eee;
}
#add-stimulus-icon:hover{
	cursor:pointer;
}
#stimulus-creation-type{
	position:relative;
    top:-7px;
    margin-right:5px;
}
/*stimulus pannel*/
#stimulus-left{
	float:left;
	width:450px;
}
#stimulus-right{
	float:right;
	border-left:2px solid #eee;
	width:438px;
	height:140px;
	margin:auto 0px;
}
#stimulus-option-icons{
	float:right;
}
.tooltip{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-property: opacity;
	-webkit-transition-timing-function: linear;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
	left: 276.5px;
	line-height: 15px;
	margin-left: 3px;
	opacity: 0.8;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	position: absolute;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: opacity;
	transition-timing-function: linear;
	visibility: visible;
	width: 105px;
	z-index: 1030;
}
.tooltip-arrow{
	border-bottom-color: rgba(0, 0, 0, 0);
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-left-color: rgba(0, 0, 0, 0);
	border-left-style: solid;
	border-left-width: 5px;
	border-right-color: rgba(0, 0, 0, 0);
	border-right-style: solid;
	border-right-width: 5px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: solid;
	border-top-width: 5px;
	bottom: -5px;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
	left: 45%;
	line-height: 15px;
	margin-left: -5px;
	position: absolute;
	visibility: visible;
}
.tooltip-inner{
	background-color: rgb(0, 0, 0);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: rgb(255, 255, 255);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 15px;
	max-width: 200px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	text-align: center;
	text-decoration: none;
	visibility: visible;
	width: 89px;
}
